<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>网络定位实验</title>
</head>

<body>
    <section>
        <p><span>设备名称:</span><span id="deviceName"><%= deviceName %></span></p>
        <p><span>设备MAC地址:</span><span id="deviceMacAddr"><%= deviceMacAddr %></span></p>
        <p><span>设备RSSI值:</span><span id="RSSIValue"><%= RSSIValue %></span></p>
        <p>提示：RSSI值绝对值越小，说明连接信号强，设备之间距离近。</p>
    </section>
    <script src="js/jquery.js"></script>
    <script src="js/test1.js"></script>
</body>

</html>